<nav class="navbar">
    <div class="navbar-left">
      <a class="navbar-brand" href="#">Theatre</a>
    </div>
    <div class="navbar-right">
      <a class="nav-link" routerLink="/">Početna</a>
      <a class="nav-link" routerLink="/repertoar">Repertoar</a>
      <a class="nav-link" routerLink="/ensemble">Ansambl</a>
      <a class="nav-link" routerLink="/performances">Predstave</a>
      <a class="nav-link" routerLink="/history">Istorijat</a>
      <a class="nav-link" routerLink="/buy-ticket/1">Kupovina ulaznica</a>
      <button *ngIf="!authService.isLoggedIn()" class="login-button" routerLink="/login">Login</button>
    <button *ngIf="authService.isLoggedIn()" class="login-button" (click)="logout()">Sign Out</button>
    </div>
  </nav>