<nav class="navbar">
    <div class="navbar-left">
      <a class="navbar-brand" href="#">Theatre</a>
    </div>
    <div class="navbar-right">
      <a class="nav-link" routerLink="/repertoar">Repertoar</a>
      <a class="nav-link" routerLink="/ensemble">Ansambl</a>
      <a class="nav-link" routerLink="/performances">Predstave</a>
      <a class="nav-link" routerLink="/actors">Glumci</a>
      <a class="nav-link" routerLink="/news">Vesti</a>
      <a class="nav-link" routerLink="/tickets">Kupovina ulaznica</a>
      <button class="login-button" routerLink="/login">Login</button>
    </div>
  </nav>