<div class="slider">
  <div *ngFor="let slide of slides; let i = index" 
       class="slide" 
       [ngClass]="{'active': i === currentSlide}" 
       [ngStyle]="{'background-image': 'url(' + getImageSrc(slide.newsImage) + ')'}"
       (click)="onSlideClick(slide)">
    <div class="slide-text">
      <h2>{{ slide.newsTitle }}</h2>
      <p>{{ slide.newsDescription }}</p>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>
