<div class="dashboard-container">
    <h2>Add News</h2>
    <form (ngSubmit)="addNews()">
        <label for="newsTitle">News Title</label>
        <input type="text" id="newsTitle" [(ngModel)]="news.newsTitle" name="newsTitle" required placeholder="Enter news title">

        <label for="newsDate">News Date</label>
        <input type="date" id="newsDate" [(ngModel)]="news.newsDate" name="newsDate" required>

        <label for="newsDescription">News Description</label>
        <textarea id="newsDescription" [(ngModel)]="news.newsDescription" name="newsDescription" placeholder="Enter news description"></textarea>

        <label for="newsImage">Upload Image (optional)</label>
        <input type="file" id="newsImage" (change)="onFileSelectNews($event)" name="newsImage">

        <button type="submit">Add News</button>
    </form>

    <h2>Add Performance</h2>
    <form (ngSubmit)="addPerformance()">
        <label for="performanceTitle">Performance Title</label>
        <input type="text" id="performanceTitle" [(ngModel)]="performance.performance_title" name="performanceTitle" required placeholder="Enter performance title">

        <label for="performanceDescription">Performance Description</label>
        <textarea id="performanceDescription" [(ngModel)]="performance.performance_description" name="performanceDescription" placeholder="Enter performance description"></textarea>

        <label for="performanceDate">Performance Date</label>
        <input type="date" id="performanceDate" [(ngModel)]="performance.performance_date" name="performanceDate" required>

        <label>
          <input type="radio" [(ngModel)]="performance.hallId" name="hallId" [value]="1" required>
          Hall 1
        </label>
        <label>
          <input type="radio" [(ngModel)]="performance.hallId" name="hallId" [value]="2" required>
          Hall 2
        </label>

        <label>Select Actors</label>
        <p-multiSelect
          class="custom-multiselect"
          [options]="actorsList"
          [(ngModel)]="selectedActors"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Actors"
          (onChange)="logSelectedActors()">
        </p-multiSelect>

        <label for="director">Director</label>
        <input type="text" id="director" [(ngModel)]="performance.director" name="director" placeholder="Enter director name">

        <label for="adaptation">Adaptation</label>
        <input type="text" id="adaptation" [(ngModel)]="performance.adaptation" name="adaptation" placeholder="Enter adaptation details">

        <label for="dramaturg">Dramaturg</label>
        <input type="text" id="dramaturg" [(ngModel)]="performance.dramaturg" name="dramaturg" placeholder="Enter dramaturg name">

        <label for="scenographer">Scenographer</label>
        <input type="text" id="scenographer" [(ngModel)]="performance.scenographer" name="scenographer" placeholder="Enter scenographer name">

        <label for="costumeDesigner">Costume Designer</label>
        <input type="text" id="costumeDesigner" [(ngModel)]="performance.costumeDesigner" name="costumeDesigner" placeholder="Enter costume designer name">

        <label for="music">Music</label>
        <input type="text" id="music" [(ngModel)]="performance.music" name="music" placeholder="Enter music details">

        <label for="stageSpeech">Stage Speech</label>
        <input type="text" id="stageSpeech" [(ngModel)]="performance.stageSpeech" name="stageSpeech" placeholder="Enter stage speech details">

        <label for="stageManager">Stage Manager</label>
        <input type="text" id="stageManager" [(ngModel)]="performance.stageManager" name="stageManager" placeholder="Enter stage manager name">



        <label for="poster_image">Upload Image (optional)</label>
        <input type="file" id="poster_image" (change)="onFileSelectPerformance($event)" name="poster_image">

        <input type="hidden" [(ngModel)]="performance.created_at" name="created_at">
        <input type="hidden" [(ngModel)]="performance.updated_at" name="updated_at">
        <div>
          <button type="submit">Add Performance</button>
        </div>

    </form>

    <h2>Add Actor</h2>
    <form (ngSubmit)="addActor()">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" [(ngModel)]="ensemble.firstName" name="firstName" required placeholder="Enter first name">

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" [(ngModel)]="ensemble.lastName" name="lastName" required placeholder="Enter last name">

        <label for="birthYear">Birth Year (optional)</label>
        <input type="number" id="birthYear" [(ngModel)]="ensemble.birthYear" name="birthYear" placeholder="Enter birth year">

        <label for="ensembleDescription">Description</label>
        <textarea id="ensembleDescription" [(ngModel)]="ensemble.ensemble_description" name="ensembleDescription" placeholder="Enter description"></textarea>

        <button type="submit">Add Actor</button>
    </form>
</div>
