<div class="repertoar-container">
    <div class="tabs">
        <button *ngFor="let month of months" (click)="selectMonth(month)">{{ month }}</button>
    </div>

    <div *ngIf="filteredPerformances.length > 0" class="performances-list">
        <div *ngFor="let performance of filteredPerformances" class="performance-item">
            <div class="performance-date">
                <span>{{ performance.performance_date | date:'dd. MMMM' }}</span>
            </div>
            <div class="performance-details">
                <img [src]="'data:image/jpeg;base64,' + performance.poster_image" alt="Poster {{ performance.performance_title }}" class="performance-poster">
                <div class="performance-info">
                    <h3>{{ performance.performance_date | date:'HH:mm' }} | Sala {{ performance.hallId }}</h3>
                    <h2>{{ performance.performance_title }}</h2>
                    <p>Opis: {{ performance.performance_description }}</p>
                </div>
            </div>
            <div *ngIf="performance.ticketPrices && performance.ticketPrices.length > 0">
                <h3>Cene karata:</h3>
                <ul>
                  <li *ngFor="let per of performance.ticketPrices">
                    Tip sedišta: {{ per.seatTypeId }} - Cena: {{ per.price }} RSD
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>


  