<div class="ticket-purchase-container">
  <h2>Izaberite mesec</h2>
  <button (click)="changeMonth(currentMonth)">Tekući mesec</button>
  <button (click)="changeMonth(nextMonth)">Sledeći mesec</button>

  <h3>Predstave za {{ selectedMonth | date: 'MMMM yyyy' }}</h3>
  
  <table>
    <tr>
      <th>Naziv predstave</th>
      <th>Datum</th>
      <th>Satnica</th>
      <th>Broj slobodnih ulaznica</th>
      <th></th>
    </tr>
    <tr *ngFor="let performance of filteredPerformances">
      <td>{{ performance.title }}</td>
      <td>{{ performance.date | date: 'dd.MM.yyyy' }}</td>
      <td>{{ performance.time }}</td>
      <td>{{ performance.availableTickets }}</td>
      <td>
        <button (click)="purchaseTickets(performance.id)">Kupi ulaznice</button>
      </td>
    </tr>
  </table>
</div>
