<footer>
    <div class="footer-content">
      <div class="footer-links">
        <ul>
          <li><a href="#">Repertoar</a></li>
          <li><a href="#">O nama</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Predstave</a></li>
          <li><a href="#">Scene</a></li>
          <li><a href="#">Ansambl</a></li>
          <li><a href="#">Fondacija</a></li>
          <li><a href="#">Vesti</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <p>+381 11 3061 957; +381 11 2644 447;</p>
        <p>Biletarnica Jugoslovenskog dramskog pozorišta radi radnim danima i subotom od 13.00 do 20.00 i nedeljom od 18.00 do 20.00.</p>
      </div>
      <div class="footer-privacy">
        <p>Politika privatnosti | © JDP. Sva prava zadržana 2025</p>
      </div>
    </div>
  </footer>
  