<footer>
    <div class="footer-links">
      <ul>
        <li><a href="#">Репертоар</a></li>
        <li><a href="#">О нама</a></li>
        <li><a href="#">Контакт</a></li>
        <li><a href="#">Представе</a></li>
        <li><a href="#">Сцене</a></li>
        <li><a href="#">Ансамбл</a></li>
        <li><a href="#">Фондација</a></li>
        <li><a href="#">Вести</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <p>+381 11 3061 957; +381 11 2644 447;</p>
      <p>Билетарница Југословенског драмског позоришта ради радним данима и суботом од 13.00 до 20.00 и недељом од 18.00 до 20.00.</p>
    </div>
    <div class="footer-privacy">
      <p>Политика приватности | © ЈДП. Сва права задржана 2019</p>
    </div>
  </footer>
  